<!DOCTYPE html>
<head>
	<title>Register</title>
	<meta name="viewport" content="width=device-width, initialscale=1.0"/> 
	<!-- Bootstrap --> 
	<link href="frameworks/css/bootstrap.min.css" rel="stylesheet" />  
	<script src="frameworks/js/jquery-3.5.0.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --> 
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// --> 
	<!--[if lt IE 9]> 
		<script src="js/html5shiv.js"></script> 
		<script src="js/respond.min.js"></script> 
	<![endif]--> 
	
	<!--Social media button-->
	<script src="https://kit.fontawesome.com/46f7c7318f.js" crossorigin="anonymous"></script>
	<!-- CSS -->
	<link rel="stylesheet" href="frameworks/css/style.css">
</head>

<body>
	<!--Nav reuse-->
    <div id="nav-placeholder"></div>
	
	<!--Content-->
	<div class="container" data-ng-app="loginModule" style="margin-top: 7%;">
		<div class="card bg-light" data-ng-controller="loginCtrl">
			<article class="card-body mx-auto" style="max-width: 400px;">
				<h4 class="card-title mt-3 text-center">Create Account</h4>
				<p class="text-center">Get started with your free account</p>
				
				<div class="row m-2">
					<div class="btn btn-block btn-facebook" data-ng-click="accType('fb')"><i class="fab fa-facebook-f"></i>Login via Facebook</div>
				</div>
				
				<div class="row m-2">
					<div class="btn btn-block btn-google" data-ng-click="accType('google')"><i class="fab fa-google"></i>Login via Gmail</div>
				</div>
				
				<div class="row m-2">
					<div class="btn btn-block btn-email" onclick="location.href = 'registerEmailForm.html'"><i class="fas fa-envelope-square"></i>Login via Email</div>
				</div>
				
				<p class="divider-text">
					<span class="bg-light">OR</span>
				</p>
				<p class="text-center">Sign up/Login with your phone</p>
				
				<form>
					<div class="form-group row ml-2">
						<input type="tel" class="form-control col-7" placeholder="+60 143332468" autocomplete="tel" name="registerPhone" id="registerPhone">
						<button type="button" class="btn btn-email col-4 mx-1" id="signInButton" onclick="submitPhoneNumberAuth()">Sent Code</button>
					</div>
					
					<div class="row">
						<div id="recaptcha-container" class="col"></div>
					</div>
					
					<div class="form-group row ml-2">
						<input type="text" class="form-control col-7" placeholder="Verification Code" autocomplete="off" name="otp" id="phoneAuthCode">
						<button type="button" class="btn btn-facebook col-4 mx-1" onclick="submitPhoneNumberAuthCode()">Enter code</button>
					</div>
				</form>
			</article>
		</div>
	</div> 
	
	<!--Footer reuse-->
	<div id="footer-placeholder"></div>
	
	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="/__/firebase/7.12.0/firebase-app.js"></script>
	<!-- TODO: Add SDKs for Firebase products that you want to use
		 https://firebase.google.com/docs/web/setup#available-libraries -->
	<script src="/__/firebase/7.12.0/firebase-analytics.js"></script>
	<script src="/__/firebase/7.14.0/firebase-auth.js"></script>
	<script src="/__/firebase/7.14.1/firebase-firestore.js"></script>
	<!-- Initialize Firebase -->
	<script src="/__/firebase/init.js"></script>
    <!-- jQuery – required for Bootstrap's JavaScript plugins) --> 
    <script src="frameworks/js/jquery.min.js"></script> 
    <!-- All Bootstrap  plug-ins  file --> 
    <script src="frameworks/js/bootstrap.min.js"></script>
	<!--AngularJS-->
	<script src="frameworks/js/angular.min.js"></script>
	<!--Firebase Config-->
	<script src="firebase_script/firebaseConfig.js"></script>
	<script src="firebase_script/socialMediaLogin.js"></script>
	<script src="firebase_script/firebasePhoneAuth.js"></script>
	<script src="firebase_script/accountControl.js"></script>
</body>

<footer>
</footer>
</html>