<!DOCTYPE html>
<head>
	<title>Register</title>
	<meta name="viewport" content="width=device-width, initialscale=1.0"/> 
	<!-- Bootstrap --> 
	<link href="frameworks/css/bootstrap.min.css" rel="stylesheet" />  
	<script src="frameworks/js/jquery-3.5.0.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --> 
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// --> 
	<!--[if lt IE 9]> 
		<script src="js/html5shiv.js"></script> 
		<script src="js/respond.min.js"></script> 
	<![endif]--> 
	
	<!--Social media button-->
	<script src="https://kit.fontawesome.com/46f7c7318f.js" crossorigin="anonymous"></script>
	
	<!-- CSS -->
	<link rel="stylesheet" href="frameworks/css/style.css">
</head>

<body>
	<!--Nav reuse-->
    <div id="nav-placeholder"></div>
	
	<!--Content-->
	<div class="container" data-ng-app="confirmPassword" style="margin-top: 7%;">
		<div class="card bg-light m-4">
			<article class="card-body mx-auto" style="max-width: 400px;">
				<h4 class="card-title mt-3 text-center">Create Account</h4>
				
				<form id="signup-form" name="signupForm" data-ng-submit="signupForm.$valid && ok()" novalidate>
					<!--Email input-->
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-envelope"></i></span>
						 </div>
						<input class="form-control" id="signup-email" placeholder="Email address" type="email" required>
					</div>
					
					<!--Username input-->
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-user"></i></span>
						 </div>
						<input class="form-control" id="signup-username" placeholder="Username" type="text" required>
					</div>
					
					<!--First password input-->
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-lock"></i></span>
						</div>
						<input class="form-control" placeholder="Create password" type="password" name="newPassword" data-ng-model="password.newPassword" data-ng-pattern="/^((?=.*[\d])(?=.*[a-z])(?=.*[A-Z])|(?=.*[a-z])(?=.*[A-Z])(?=.*[^\w\d\s])|(?=.*[\d])(?=.*[A-Z])(?=.*[^\w\d\s])|(?=.*[\d])(?=.*[a-z])(?=.*[^\w\d\s])).{8,30}$/" required>
						<span data-ng-show="signupForm.newPassword.$dirty && signupForm.newPassword.$invalid">Minimum 8 characters with 1 capital and 1 number</span>
					</div>
					
					<!--Second password input-->
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
						</div>
						<input class="form-control" id="signup-password" name="confirmPassword" placeholder="Repeat password" type="password"  data-ng-model="password.confirmPassword" data-ng-minlength="8" value-matches="password.newPassword" required>
						<span data-ng-show="signupForm.confirmPassword.$dirty && signupForm.confirmPassword.$invalid">Enter the same password again to confirm.</span>
					</div>                                     
					<div class="form-group">
						<button type="submit" class="btn btn-create btn-block">Create Account</button>
					</div>    
					<p class="text-center">Have an account?<a href="login.html" id="loginHyperText">Log In</a></p>  
				</form>
			</article>
		</div>
	</div> 
	
	<!--Footer reuse-->
	<div id="footer-placeholder"></div>	
	
	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="/__/firebase/7.12.0/firebase-app.js"></script>
	<!-- TODO: Add SDKs for Firebase products that you want to use
		 https://firebase.google.com/docs/web/setup#available-libraries -->
	<script src="/__/firebase/7.12.0/firebase-analytics.js"></script>
	<script src="/__/firebase/7.14.0/firebase-auth.js"></script>
	<script src="/__/firebase/7.14.1/firebase-firestore.js"></script>
	<!-- Initialize Firebase -->
	<script src="/__/firebase/init.js"></script>
    <!-- jQuery – required for Bootstrap's JavaScript plugins) --> 
    <script src="frameworks/js/jquery.min.js"></script> 
    <!-- All Bootstrap  plug-ins  file --> 
	<script src="frameworks/js/popper.min.js"></script> 
    <script src="frameworks/js/bootstrap.min.js"></script>
	<!--AngularJS-->
	<script src="frameworks/js/angular.min.js"></script>
	<!--Firebase Config-->
	<script src="firebase_script/firebaseConfig.js"></script>
	<script src="firebase_script/firebaseEmailAuth.js"></script>
	<script src="firebase_script/accountControl.js"></script>
	<script src="scripts/confirmPassword.js"></script>
</body>

<footer>
</footer>
</html>